.header {
  color: white;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: rgb(43, 173, 224);
  margin-bottom: 0;
}

.appContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 50px auto;
  text-align: center;
  background-color: rgb(250, 244, 237);
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.deleteContainer {
  width: 500px;
  background-color: transparent;
  height: 50px;
  border: none;
  margin-top: 0;
  display: flex;
  position: relative;
  top: 0;
}

.deleteAll {
  width: 250px;
  background-color: transparent;
  height: 50px;
  border: none;
  font-size: 25px;
  padding-bottom: 10px;
}

.deleteAll:focus {
  outline: 0;
}

.todoCount {
  width: 250px;
  background-color: none;
  height: 50px;
  border: none;
  font-size: 25px;
}
